.newPersonAddedMessage {
  color: green;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  background: lightgray;
  border-style: solid;
  border-radius: 5px;
}

.errorMessage {
  color: red;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  background: lightgray;
  border-style: solid;
  border-radius: 5px;
}
